body{
    font-family: "Lato", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
     
}

.cont{
    background-color: rgba(255, 255, 255, 0.6) ;
    border-radius: 10px;
    padding: 30px;
    max-width: 1000px;
    text-align: center;
}

.cont-input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.input{
    caret-color: transparent;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 1px solid #eee;
    font-size: 50px;
    font-family: "Lato", sans-serif;
    width: 75px;
    height: 80px;
    margin: 10px;
    text-align: center;
    font-weight: 300;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.input{
    border-color: #333;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

